.reviewContentInset{
    width: 100%;
    height: auto;
    display: flex;
}
.revRatings{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 0;
    border-right: 1px solid rgb(83, 83, 83);
    color: #ffe100;
}
.ratings{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.starIcon{
    width: 20px;
    height: 20px;
}
.ratings p{
    margin-left: 10px;
    font-size: 18px;
}
.based{
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
}
.revComments{
    width: 80%;
    height: auto;
    display: flex;
    padding: 0 20px;
    overflow-x: scroll;
}
/* .rev-comments::-webkit-scrollbar {
    width: 10px;
  } */
.comment{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 45, 45);
    padding: 10px 20px;
    margin-right: 10px;
    flex-shrink: 0;
}
.comment h5{
    font-family: 'Playfair Display', sans-serif;
    color: white;
    font-size: 21px;
}
.commentReviews{
    display: flex;
    align-items: center;
    color: #ffe100;
    font-size: 20px;
    margin: 5px 0;
}
.comment p{
    color: white;
    font-size: 20px;
}
.writing{
    font-family: 'Abel', serif;
    margin-top: 30px;
    font-size: 25px;
    color: rgb(212, 212, 212);
}

@media screen and (max-width: 600px) {
    .reviewContentInset{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .revRatings{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        border-right: none;
        color: #ffe100;
        margin-bottom: 20px;
    }
    .ratings{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .ratings p{
        margin-left: 10px;
        font-size: 18px;
    }
    .based{
        font-size: 20px;
        margin-top: 0px;
        text-align: center;
    }
    .revComments{
        width: 100%;
        height: auto;
        display: flex;
        padding: 0 10px;
        overflow-x: scroll;
        align-items: center;
    }
    /* .rev-comments::-webkit-scrollbar {
        width: 10px;
      } */
    .comment{
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        background-color: rgb(45, 45, 45);
        padding: 10px 20px;
        margin-right: 10px;
        flex-shrink: 0;
    }
    .comment h5{
        font-family: 'Playfair Display', sans-serif;
        color: white;
        font-size: 20px;
        margin-bottom: 5px;
    }
    .commentReviews{
        display: flex;
        align-items: center;
        color: #ffe100;
        font-size: 17px;
    }
    .comment p{
        color: white;
        font-size: 16px;
    }
    .writing{
        font-family: 'Abel', serif;
        margin-top: 30px;
        font-size: 20px;
        color: white;
    }
}