.otherProducts{
    width: 90%;
    height: 90vh;
    margin: 40px auto;
    /* border: 1px solid #ffe100; */
    border-radius: 30px;
    padding: 30px;
}
.otherProducts h4{
    font-family: 'Playfair Display', sans-serif;
    color: white;
    font-size: 30px;
}
.othersInset{
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;

}
.othersDiv{
    width: 300px;
    height: auto;
    margin-right: 25px;
}
.othersDiv img{
    width: 300px;
    height: 300px;
    object-fit: fill;
}
.othersDiv h5{
    font-family: 'Playfair Display', sans-serif;
    font-size: 24px;
    color: #ffe100;
    margin: 20px 0;
    text-align: center;
}
.othersDiv p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
.othersDiv button{
    width: 100%;
    height: 55px;
    background-color: #ffe100;
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

@media screen and (max-width: 800px) {
     .otherProducts{
        width: 100%;
        height: 80vh;
        margin: 40px auto;
        /* border: 1px solid #ffe100; */
        border-radius: 30px;
        padding: 30px;
    }
    .otherProducts h4{
        font-family: 'Playfair Display', sans-serif;
        color: white;
        font-size: 30px;
    }
    .othersInset{
        width: 100%;
        height: auto;
        margin-top: 40px;
        display: flex;
        overflow-x: scroll;
    }
    .othersDiv{
        width: 250px;
        height: auto;
        margin-right: 25px;
    }
    .othersDiv img{
        width: 250px;
        height: 250px;
        object-fit: fill;
    }
    .othersDiv h5{
        font-family: 'Playfair Display', sans-serif;
        font-size: 24px;
        color: #ffe100;
        margin: 20px 0;
        text-align: center;
    }
    .othersDiv p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: white;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
    }
    .othersDiv button{
        width: 100%;
        height: 55px;
        background-color: #ffe100;
        font-family: 'Playfair Display', sans-serif;
        font-size: 18px;
        font-weight: 600;
        border: none;
    }
}

@media screen and (max-width: 600px) {
    .otherProducts{
        width: 100%;
        height: 80vh;
        margin: 10px auto;
        /* border: 1px solid #ffe100; */
        border-radius: 30px;
        padding: 10px;
    }
    .otherProducts h4{
        font-family: 'Playfair Display', sans-serif;
        color: white;
        font-size: 30px;
    }
    .othersInset{
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        overflow-x: scroll;
    }
    .othersDiv{
        width: 220px;
        height: auto;
        margin-right: 25px;
    }
    .othersDiv img{
        width: 220px;
        height: 220px;
        object-fit: fill;
    }
    .othersDiv h5{
        font-family: 'Playfair Display', sans-serif;
        font-size: 20px;
        color: #ffe100;
        margin: 10px 0;
        text-align: center;
    }
    .othersDiv p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        color: white;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
    }
    .othersDiv button{
        width: 100%;
        height: 55px;
        background-color: #ffe100;
        font-family: 'Playfair Display', sans-serif;
        font-size: 18px;
        font-weight: 600;
        border: none;
    } 
}