
#choice{
    width: 100%;
    height: auto;
     background-color: rgb(237, 237, 237);
    padding: 50px;
}
.choice1{
    display: block;
}
.choice2{
    display: none;
}
.choiceInset{
    width: 80%;
    height: auto;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Playfair Display', sans-serif;

}
.choiceInset h1{
    font-size: 70px;
    margin-bottom: 40px;
}
.choiceInset p{
    font-size: 20px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
}
.choiceInset p span{
    font-weight: bold;
    font-size: 21px;
}
.choiceBtn{
    width: 40%;
    height: 60px;
    background-color: #ffe100;
    color: black;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 60px;
}
.choiceBtn p{
    font-size: 23px;
}
#businessAdvert{
    width: 100%;
    height: 60vh;
     background: linear-gradient( to right, rgba(0, 0 ,0 , 0.3), rgba(0, 0 ,0 , 0.9)), url('/business.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px 20px 30px 50px;
    display: flex;
    justify-content: space-between;
}
.advInfo{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   border-right: 1px solid rgb(77, 77, 77);
}
.advInfo h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
}
.advInfo h1 span{
    color: #ffe100;
    font-size: 65px;
    font-weight: 800;
}
.advInfo p{
    width: 90%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}
.advIcons{
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.advIconsItem{
    width: 30%;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.688);
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding-left: 10px;
}
.advIconsItem span{
    width: 60px;
    height: 60px;
    background-color: #ffe100d9;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
.advIconsItem p{
    font-size: 16px;
    margin-top: 0px;
    color: black;
    line-height: 25px;
}
.advctas{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.advcta1{
    width: 95%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe100;
    border-radius: 60px;
}
.advcta2{
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffe100;
    color: #ffe100;
    border-radius: 60px;
    margin-top: 30px;
}


@media screen and (max-width: 800px) {
    
    #choice{
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        padding: 40px;
    }
    .choiceInset{
        width: 80%;
        height: auto;
        margin: 0 auto;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
    
    }
    .choiceInset h1{
        font-size: 70px;
        margin-bottom: 40px;
    }
    .choiceInset p{
        font-size: 19px;
        line-height: 30px;
    }
    .choiceInset p span{
       font-weight: bold;
       font-size: 20px;
    }
    .choiceBtn{
        width: 40%;
        height: 60px;
        background-color: #ffe100;
        color: black;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 60px;
    }
    .choiceBtn p{
        font-size: 23px;
    }
    #proof{
        width: 100%;
        height: 80vh;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    .proofInset{
        width: 32%;
        height: 90%;
        border: 1px solid #ffe100;
    }
    .proofTitle{
        width: 100%;
        height: 22%;
        font-family: 'Playfair Display', sans-serif;
        color: #ffe100;
        font-size: 26px;
        text-align: center;
        font-weight: 500;
        padding: 0 10px;
        display: grid;
        place-items: center;
    }
    .proofImg{
        width: 100%;
        height: 55%;
    }
    .proofImgImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .proofDesc{
        width: 100%;
        height: 22%;
        font-family: 'Playfair Display', sans-serif;
        color: rgb(0, 0, 0);
        text-align: center;
        display: grid;
        place-items: center;
        padding: 0 20px;
        font-size: 17px;
    }
}


@media screen and (max-width: 600px) {
   
    #choice{
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        padding:40px 10px;
    }
    .choice1{
        display: none;
    }
    .choice2{
        display: block;
    }
    .choiceInset{
        width: 100%;
        height: auto;
        margin: 0 auto;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
    
    }
    .choiceInset h1{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .choiceInset p{
        font-size: 15px;
        line-height: 30px;
    }
    .choiceInset p span{
        font-weight: bold;
        font-size: 18px;
    }
    #proof{
        display: none;
    }
    
}