#shopOuter{
    width: 100%;
    height: auto;
    background-color: black;
}
.shopInfo{
    width: 80%;
    height: auto;
    padding: 40px;
    margin: 50px auto 0;
}
.shopInfo h4{
    font-family: 'Playfair Display', sans-serif;
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}
.shopInfo p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 21px;
    line-height: 35px;
}
.quote{
    width: 100%;
    height: auto;
    background-color: #ffe100;
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-size: 45px;
    text-align: center;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 800px) {
    .shopInfo{
        width: 90%;
        height: auto;
        padding: 40px;
        margin: 50px auto 0;
        text-align: center;
    }
    .shopInfo h4{
        font-family: 'Playfair Display', sans-serif;
        color: white;
        font-size: 35px;
        margin-bottom: 30px;
    }
    .shopInfo p{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 18px;
        line-height: 33px;
    }
     .quote{
        width: 100%;
        height: auto;
        background-color: #ffe100;
        font-family: 'Playfair Display', sans-serif;
        font-style: italic;
        font-size: 29px;
        text-align: center;
        display: grid;
        place-items: center;
    } 
    
}

@media screen and (max-width: 600px) {
    .shopInfo{
        width: 100%;
        height: auto;
        padding: 10px 10px 40px;
    }
    .shopInfo h4{
        font-family: 'Playfair Display', sans-serif;
        color: white;
        font-size: 35px;
        margin-bottom: 30px;
        text-align: center;

    }
    .shopInfo p{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 15px;
        line-height: 33px;
        text-align: left;
    }
       .quote{
        width: 100%;
        height: auto;
        background-color: #ffe100;
        font-family: 'Playfair Display', sans-serif;
        font-style: italic;
        font-size: 21px;
        text-align: center;
        display: grid;
        place-items: center;
    } 
}