.shippingDelivery{
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    padding: 30px;
}
.shippingInset{
    width: 80%;
    height: auto;
    margin: 30px auto;
}
.shippingInset h1{
    font-size: 45px;
    margin-bottom: 30px;
}
.shippingInset h2{
    font-size: 35px;
    margin-bottom: 25px;
}
.shippingInset h3{
    font-size: 22px;
    margin: 30px 0 20px;
}
.shippingInset p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    line-height: 35px;
}
.shippingInset p span{
    font-size: 20px;
    font-weight: 600;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: rgb(72, 72, 72);
    margin: 40px 0;
}
.shippingInset ul{
    margin: 20px 50px;
    font-family: Calibri;
    font-size: 20px;
}
.shippingInset ul li{
    margin: 5px;
}
.shippingInset ul li span{
    font-weight: 600;
}