.shippingDelivery{
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 30px;
    cursor: pointer;
}
.shippingInset{
    width: 80%;
    height: auto;
    margin: 30px auto;
}
.shippingInset h1{
    font-size: 45px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
}
.shippingInset h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.shippingInset h3{
    font-size: 22px;
    margin: 20px 0 20px;
}
.shippingInset p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    line-height: 35px;
}
.shippingInset p span{
    font-size: 20px;
    font-weight: 600;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: rgb(72, 72, 72);
    margin: 30px 0;
}
.shippingInset ul{
    margin: 20px 50px;
    font-family: Calibri;
    font-size: 20px;
}
.shippingInset ul li{
    margin: 5px;
}
.shippingInset ul li span{
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .shippingDelivery{
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 30px;
}
.shippingInset{
    width: 90%;
    height: auto;
    margin: 30px auto;
}
.shippingInset h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.shippingInset h2{
    font-size: 30px;
    margin-bottom: 25px;
}
.shippingInset h3{
    font-size: 20px;
    margin: 30px 0 20px;
}
.shippingInset p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 15px;
    line-height: 35px;
}
.shippingInset p span{
    font-size: 19px;
    font-weight: 600;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: rgb(72, 72, 72);
    margin: 30px 0;
}
.shippingInset ul{
    margin: 20px 50px;
    font-family: Calibri;
    font-size: 20px;
}
.shippingInset ul li{
    margin: 5px;
}
.shippingInset ul li span{
    font-weight: 600;
}
}

@media  screen and (max-width: 600px) {
    .shippingDelivery{
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.shippingInset{
    width: 100%;
    height: auto;
    margin: 10px auto;
}
.shippingInset h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.shippingInset h2{
    font-size: 23px;
    margin-bottom: 20px;
}
.shippingInset h3{
    font-size: 20px;
    margin: 20px 0 10px;
}
.shippingInset p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    line-height: 30px;
}
.shippingInset p span{
    font-size: 16px;
    font-weight: 600;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: rgb(72, 72, 72);
    margin: 20px 0;
}
.shippingInset ul{
    margin: 15px 30px;
    font-family: Calibri;
    font-size: 15px;
}
.shippingInset ul li{
    margin: 5px;
}
.shippingInset ul li span{
    font-weight: 600;
}
}