#cartMain{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
}
.cartInset{
    width: 100%;
    height: auto;
    padding: 30px;
}
.cartInset h2{
    font-family: 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.cartDiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.cartItems{
    width: 65%;
    height: auto;
    padding-left: 30px;
}

.cartItem{
    width: 100%;
    height: 140px;
    display: flex;
    margin: 20px auto;
    align-items: center;
    border-bottom: 1px solid gray;
}
.cartItem img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-left: 20px;
}
.cartInfo{
    width: 80%;
    height: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cartInfoPhone{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.cartInfo h4{
    font-family: 'Playfair Display', sans-serif;
    color: #000000; 
    font-size: 22px;
    font-weight: 400;
}
.cartInfo span{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;

}
.cartCounter{
    display: flex;
}
.cartCounter span{
    width: 40px;
    height: 40px;
    color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    font-size: 20px;
    font-weight: 700;
}
.first{
  border: 1px solid black;
  border-radius: 50%;
}
.third{
   border: 1px solid black;
  border-radius: 50%;
}
.cartPrice{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 700;
}
.cartRemove{
    width: auto;
    height: 100%;
    color: #ffe100;
    font-family: 'Playfair Display', sans-serif;
    font-size: 25px;
    font-weight: 700;
    display: grid;
    place-items: center;
    float: right;
}
.cartRemove:hover{
    color: red;
}
.cartPayment{
    width: 31%;
    height: 100%;
    background-color: rgb(255, 248, 223);
    padding: 20px;
    border-radius: 20px;
}
.subtotal{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.sub{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.total{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
}
.orderInstructions{
    width: 100%;
    height: auto;
}
.orderInstructions p{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
.orderInstructions textarea{
    width: 100%;
    padding: 5px;
    font-family: calibri;
    font-size: 16px;
}
.cartShipping{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.cartShipping p{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    color: gray;
    margin: 10px 0;
}
.cartShipping div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 50px;
    margin: 15px 0;
    padding-left: 10px;
}
.cartShipping div label{
    margin-left: 20px;
    color: #000000;
    font-size: 17px;
}
.cartCalendar{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid rgb(93, 93, 93);
    margin-top: 20px;
    overflow: hidden;
    cursor: pointer;
}
.cartCalendarInset{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.cartCalendarInset p{
    font-size: 17px;
}
.cartCheckout{
    width: 100%;
    height: 50px;
    border: none;
    background-color: green;
    margin: 25px 0 15px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    font-family: calibri;
}
.cartCancel{
    width: 100%;
    height: 50px;
    border: none;
    background-color: red;
    margin: 0;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    font-family: calibri;
}

@media screen and (max-width: 800px) {
.cartInset{
    width: 100%;
    height: auto;
    padding: 20px;
}
.cartInset h2{
    font-family: 'Playfair Display', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}
.cartDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartItems{
    width: 100%;
    height: auto;
    padding-left: 0px;
}

.cartItem{
    width: 100%;
    height: 120px;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.cartItem img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin-left: 20px;
}
.cartInfo{
    width: 77%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cartInfo h4{
    font-family: 'Playfair Display', sans-serif;
    color: #000000; 
    font-size: 20px;
    font-weight: 400;
}
.cartCounter{
    display: flex;
}
.cartCounter span{
    width: 35px;
    height: 35px;
    color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    font-size: 19px;
    font-weight: 700;
}
.first{
  border: 1px solid black;
  border-radius: 50%;
}
.third{
   border: 1px solid black;
  border-radius: 50%;
}
.cartPrice{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 700;
}

.cartPayment{
    width: 100%;
    height: 100%;
    background-color: rgb(234, 234, 234);
    padding: 20px;
    border-radius: 20px;
}
.subtotal{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.sub{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.total{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
}
.orderInstructions{
    width: 100%;
    height: auto;
}
.orderInstructions p{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
.orderInstructions textarea{
    width: 100%;
    padding: 5px;
    font-family: calibri;
    font-size: 16px;
}
.cartShipping{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.cartShipping p{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    color: gray;
    margin: 10px 0;
}
.cartShipping div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 50px;
    margin: 15px 0;
    padding-left: 10px;
}
.cartShipping div label{
    margin-left: 20px;
    color: #000000;
    font-size: 17px;
}
.cartCalendar{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid rgb(93, 93, 93);
    margin-top: 20px;
    overflow: hidden;
}
.cartCalendarInset{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.cartCalendarInset p{
    font-size: 17px;
}
.cartCheckout{
    width: 100%;
    height: 50px;
    border: none;
    background-color: red;
    margin: 20px 0;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    font-family: calibri;
}
}

@media screen and (max-width: 600px) {
.cartInset{
    width: 100%;
    height: auto;
    padding: 5px;
}
.cartInset h2{
    font-family: 'Playfair Display', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.cartDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cartItems{
    width: 100%;
    height: auto;
    padding-left: 0px;
}

.cartItem{
    width: 100%;
    height: 120px;
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}
.cartItem img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-left: 5px;
}
.cartInfo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cartInfoPhone{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
}
.cartInfo h4{
    font-family: 'Playfair Display', sans-serif;
    color: #000000; 
    font-size: 18px;
    font-weight: 400;
}
.cartCounter{
    display: flex;
}
.cartCounter span{
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
    display: grid;
    place-items: center;
    font-size: 21px;
    font-weight: 700;
}
.first{
  border: 1px solid black;
  border-radius: 50%;
}
.third{
   border: 1px solid black;
  border-radius: 50%;
}
.cartPrice{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 700;
}

.cartPayment{
    width: 100%;
    height: 100%;
    background-color: rgb(234, 234, 234);
    padding: 20px 10px;
    border-radius: 20px;
}
.subtotal{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.sub{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
.total{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
}
.orderInstructions{
    width: 100%;
    height: auto;
}
.orderInstructions p{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
.orderInstructions textarea{
    width: 100%;
    padding: 5px;
    font-family: calibri;
    font-size: 16px;
}
.cartShipping{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.cartShipping p{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    color: gray;
    margin: 10px 0;
}
.cartShipping div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid rgb(101, 101, 101);
    border-radius: 50px;
    margin: 15px 0;
    padding-left: 10px;
}
.cartShipping div label{
    margin-left: 20px;
    color: #000000;
    font-size: 17px;
}
.cartCalendar{
    width: 100%;
    padding: 10px 0px;
    border: 1px solid rgb(93, 93, 93);
    margin-top: 20px;
    overflow: hidden;
}
.cartCalendarInset{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.cartCalendarInset p{
    font-size: 17px;
}
.cartCheckout{
    width: 100%;
    height: 50px;
    border: none;
    background-color: red;
    margin: 20px 0;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    font-family: calibri;
}
}
