#navbar{
    display: block;
    width: 97%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 20px auto;
    border-radius: 50px;
    padding: 0 30px;
    position: relative;
}
#navbar2{
    display: none;
}
.navLinks{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.svgLogo{
    width: auto;
    height: 70px;
    object-fit: cover;
}
.navbarLinks{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarLink{
    height: 100%;
    color: white;
    font-family: "Calibri", sans-serif;
    display: grid;
    place-items: center;
    font-size: 18px;
}
.shopping{
    position: absolute;
    right: 5%;
    top: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);
    color: #ffe100; 
    display: flex; 
    align-items: center; 
}
.shopping p{
    color: white;
    margin-left: 10px;
}
.shoppingInset{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
}
.shoppingCount{
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-30%);
    width: 20px;
    height: 20px;
    background-color: black;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    #navbar{
        display: block;
        width: 97%;
        height: 70px;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 15 auto;
        border-radius: 50px;
        padding: 0 20px;
        position: relative;
    }
    #navbar2{
        display: none;
    }
    .navLinks{
        width: 87%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navLinks h1{
        font-family: "Playfair Display", sans-serif;
        color: white;
        font-size: 20px;
    }
    .navLinks h1 span{
        color: #ffe100;
    }
    .navbarLinks{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbarLink{
        height: 100%;
        color: white;
        font-family: "Calibri", sans-serif;
        display: grid;
        place-items: center;
        font-size: 16px;
    }
    .shopping{
        position: absolute;
        right: 4%;
        top: 50%;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
        color: #ffe100;   
    }
    .shoppingInset{
        width: 100%;
        height: 100%;
        position: relative;
        display: grid;
        place-items: center;
    }
    .shoppingCount{
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        background-color: black;
        display: grid;
        place-items: center;
        border-radius: 50%;
    }
}

@media screen and (max-width: 600px) {
    #navbar{
        display: none;
    }
    #navbar2{
        display: flex;
        justify-content: space-between;
        width: 97%;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 0px auto;
        border-radius: 50px;
        padding: 0 20px 0 10px;
        position: relative;
        align-items: center;
    }
     .shop2Div{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: black;
        z-index: 20;
       
    }
     .svgLogo2{
        width: 180px;
        height: 100%;
        object-fit: contain;
    }
    #shop2DivInset{
        width: 100%;
        height: 100%;
    }
    .shop2Div1{
        width: 100%;
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        position: relative;
    }
    .shop2Div1 h1{
        color: white;
        font-family: 'Playfair Display', sans-serif;
        font-size: 23px;
    }
    .shop2Div1 h1 span{
        color: #ffe100;
        font-size: 25px;
    }
    .optClose{
        position: fixed;
        top: 25px;
        right: 10px;
        width: 35px;
        height: 35px;
    }
    .shopNavLinks{
        width: 100%;
        height: 100px;
        text-align: center;
        color: white;
        font-size: 25px;
    }
    .navbarInset2{
        width: 88%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
    }
    .svgLogo{
        width: 55%;
        height: 100%;
        object-fit: contain;
    }

    .shoppingCount{
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-30%);
        width: 16px;
        height: 16px;
        font-size: 13px;
        background-color: black;
        display: grid;
        place-items: center;
        border-radius: 50%;
    }
    .homeMenu{
        width: 30px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .homeMenu div{
        background-color: white;
    }
    .div1{
        width: 100%;
        height: 3px;
    }
    .div2{
        width: 80%;
        height: 3px;
    }
    .div3{
        width: 60%;
        height: 3px;
    }
}