#checkout{
    width: 100%;
    height: auto;
    background-color: #d1d1d1;
    padding: 30px 50px;
}
.checkoutInset{
    width: 80%;
    height: auto;
    background-color: rgb(255, 250, 232);
    margin: 0 auto;
    padding: 40px;
}
.svgDiv{
    width: 100%;
    display: grid;
    place-items: center;
}
.svgLogo3{
    width: auto;
    height: 120px;
    object-fit: contain;
    margin: 0 auto;
}
.line{
    width: 90%;
    height: 1px;
    background-color: rgb(194, 194, 194);
    margin: 30px auto;
}
.checkoutDiv{
    width: 94%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.billShip{
    width: 48%;
    height: auto;  
}
.billingForm{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.billingForm h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 15px 0;
}
.billingForm h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #515151;
    margin: 15px 0;
    font-size: 16px;
}
.billingForm input{
    height: 45px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(184, 184, 184);
    padding-left: 10px;
    font-size: 16px;
}
.billingForm input:hover{
    box-shadow: 1px 1px 3px rgb(68, 68, 68);
}
.billingForm input:focus{
    box-shadow: 1px 1px 3px rgb(68, 68, 68);
    outline: none;
}
.billingForm input::placeholder{
    font-size: 15px;
    color: #a1a1a1;
}
.billingForm p{
    font-size: 20px;
    margin: 10px 0 20px;
}
.billingForm textarea{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border: none;
    box-shadow: 1px 1px 3px rgb(184, 184, 184);
    border-radius: 5px;
}
.billingForm textarea:focus{
    box-shadow: 1px 1px 3px rgb(68, 68, 68);
    outline: none;
}
.customerOrder{
    width: 48%;
    height: auto;
    padding-left: 20px;
}
.customerOrder h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 15px 0;
}
.orderDiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 10px 0;
    border-bottom: 2px solid white;
}
.orderInformation{
    display: flex;
    flex-direction: column;
}
.orderInformation p{
    font-size: 18px;
    color: #7a7a7a;
}
.orderSubtotal h4{
    font-weight: 600;
    font-size: 17px;
    color: black;
}
.orderTotal{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orderTotal p{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
.orderNotice{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    display: flex;
}
.orderNotice p{
    text-align: left;
    font-size: 17px;
    font-family: 'Abel', sans-serif;
    margin-left: 20px;
}
.placeOrder{
    width: 100%;
    height: 60px;
    background-color: red;
    margin-top: 30px;
    border-radius: 60px;
    color: white;
    font-family: calibri;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.cancelOrder{
    width: 100%;
    height: 60px;
    background-color: transparent;
    margin-top: 20px;
    border-radius: 60px;
    color: rgb(255, 0, 0);
    font-family: calibri;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid red;
}

@media screen and (max-width: 800px) {
   #checkout{
    width: 100%;
    height: auto;
    background-color: #d1d1d1;
    padding: 10px 10px;
}
.checkoutInset{
    width: 100%;
    height: auto;
    background-color: rgb(255, 250, 232);
    margin: 0 auto;
    padding: 10px;
}
.svgDiv{
    width: 100%;
    display: grid;
    place-items: center;
}
.svgLogo3{
    width: auto;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
}
.line{
    width: 90%;
    height: 1px;
    background-color: rgb(194, 194, 194);
    margin: 25px auto;
}
.checkoutDiv{
    width: 97%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.billShip{
    width: 48%;
    height: auto;  
}
.billingForm{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.billingForm h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 15px 0;
}
.billingForm input{
    height: 45px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(184, 184, 184);
    padding-left: 10px;
    font-size: 16px;
}
.billingForm input:hover{
    box-shadow: 1px 1px 3px rgb(68, 68, 68);
}
.billingForm input:focus{
    box-shadow: 1px 1px 3px rgb(68, 68, 68);
    outline: none;
}
.billingForm input::placeholder{
    font-size: 15px;
    color: #a1a1a1;
}
.billingForm p{
    font-size: 20px;
    margin: 10px 0 20px;
}
.billingForm textarea{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border: none;
    box-shadow: 1px 1px 3px rgb(184, 184, 184);
    border-radius: 5px;
}
.billingForm textarea:focus{
    box-shadow: 1px 1px 3px rgb(68, 68, 68);
    outline: none;
}
.customerOrder{
    width: 49%;
    height: auto;
    padding-left: 10px;
}
.customerOrder h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 15px 0;
}
.orderDiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 10px 0;
    border-bottom: 2px solid white;
}
.orderInformation{
    display: flex;
    flex-direction: column;
}
.orderInformation p{
    font-size: 18px;
    color: #7a7a7a;
}
.orderSubtotal h4{
    font-weight: 600;
    font-size: 17px;
    color: black;
}
.orderTotal{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orderTotal p{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
.orderNotice{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    display: flex;
}
.orderNotice p{
    text-align: left;
    font-size: 17px;
    font-family: 'Abel', sans-serif;
    margin-left: 20px;
}
.placeOrder{
    width: 100%;
    height: 60px;
    background-color: red;
    margin-top: 30px;
    border-radius: 60px;
    color: white;
    font-family: calibri;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.cancelOrder{
    width: 100%;
    height: 60px;
    background-color: transparent;
    margin-top: 20px;
    border-radius: 60px;
    color: rgb(255, 0, 0);
    font-family: calibri;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid red;
} 
}

@media screen and (max-width: 600px) {
    #checkout{
    width: 100%;
    height: auto;
    background-color: #d1d1d1;
    padding: 15px 10px;
}
.checkoutInset{
    width: 100%;
    height: auto;
    background-color: rgb(255, 250, 232);
    margin: 0 auto;
    padding: 10px;
}
.svgDiv{
    width: 100%;
    display: grid;
    place-items: center;
}
.svgLogo3{
    width: auto;
    height: 70px;
    object-fit: contain;
    margin: 0 auto;
}
.line{
    width: 90%;
    height: 1px;
    background-color: rgb(194, 194, 194);
    margin: 15px auto;
}
.checkoutDiv{
    width: 98%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.billShip{
    width: 100%;
    height: auto;  
}
.billingForm{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.billingForm h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
}
.billingForm input{
    height: 45px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(184, 184, 184);
    padding-left: 10px;
    font-size: 16px;
}
.billingForm input:hover{
    box-shadow: 1px 1px 3px rgb(68, 68, 68);
}
.billingForm input:focus{
    box-shadow: 1px 1px 3px rgb(68, 68, 68);
    outline: none;
}
.billingForm input::placeholder{
    font-size: 15px;
    color: #a1a1a1;
}
.billingForm p{
    font-size: 20px;
    margin: 10px 0 20px;
}
.billingForm textarea{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    border: none;
    box-shadow: 1px 1px 3px rgb(184, 184, 184);
    border-radius: 5px;
}
.billingForm textarea:focus{
    box-shadow: 1px 1px 3px rgb(68, 68, 68);
    outline: none;
}
.customerOrder{
    width: 100%;
    height: auto;
    padding-left: 0px;
    margin-top: 20px;
}
.customH4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 15px 0;
    font-size: 20px;
    text-align: center;
}
.orderDiv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px 0;
    border-bottom: 2px solid white;
}
.orderInformation{
    display: flex;
    flex-direction: column;
}
.orderInformation p{
    font-size: 16px;
    color: #7a7a7a;
}
.orderSubtotal h4{
    font-weight: 600;
    font-size: 16px;
    color: black;
}
.orderTotal{
    width: 100%;
    height: auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orderTotal p{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}
.orderNotice{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    display: flex;
}
.orderNotice p{
    text-align: left;
    font-size: 17px;
    font-family: 'Abel', sans-serif;
    margin-left: 20px;
}
.placeOrder{
    width: 100%;
    height: 60px;
    background-color: red;
    margin-top: 30px;
    border-radius: 60px;
    color: white;
    font-family: calibri;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.cancelOrder{
    width: 100%;
    height: 60px;
    background-color: transparent;
    margin-top: 20px;
    border-radius: 60px;
    color: rgb(255, 0, 0);
    font-family: calibri;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid red;
}
}