#testimony{
    width: 100%;
    height: 80vh;
    background-color: black;
    padding: 50px;
}
#testimony h1{
    color: white;
    font-size: 60px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
}
.testimonyInset{
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 10px;
}
.testimonyInset::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(63, 63, 63);
    border-radius: 20px;
  }
 .testimonyInset::-webkit-scrollbar-thumb {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0); /* Border color matches the background/container background */
    background-clip: padding-box;
  } 
.testDiv{
    width: 450px;
    height: 300px;
    padding: 20px 25px;
    border: 1px solid #ffe100;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-shrink: 0;
    margin: 10px;
}
.testDiv img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.testDiv p{
    color: white;
    font-family: 'Abel', sans-serif;
}
.user h4{
    color: #ffe100;
    font-family: 'Playfair Display', sans-serif;
    margin-bottom: 10px;
}
.user h5{
    color: #ffe100;
    font-family: 'Playfair Display', sans-serif;

}

@media screen and (max-width: 800px) {
    #testimony{
        width: 100%;
        height: 80vh;
        background-color: black;
        padding: 50px 35px;
    }
    #testimony h1{
        color: white;
        font-size: 50px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 40px;
    }
    .testimonyInset{
        width: 100%;
        height: auto;
        display: flex;
        overflow-x: scroll;
    }
   .testimonyInset::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(63, 63, 63);
    border-radius: 20px;
  }
 .testimonyInset::-webkit-scrollbar-thumb {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0); /* Border color matches the background/container background */
    background-clip: padding-box;
  } 
    .testDiv{
        width: 400px;
        height: 300px;
        padding: 20px 25px;
        border: 1px solid #ffe100;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 0;
        flex-shrink: 0;
        margin: 10px;
    }
    .testDiv img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }
    .testDiv p{
        color: white;
        font-family: 'Abel', sans-serif;
    }
    .user h4{
        color: #ffe100;
        font-family: 'Playfair Display', sans-serif;
        margin-bottom: 10px;
    }
    .user h5{
        color: #ffe100;
        font-family: 'Playfair Display', sans-serif;
    
    }  
}

@media screen and (max-width: 600px) {
    #testimony{
        width: 100%;
        height: auto;
        background-color: black;
        padding: 35px 15px 30px;
    }
    #testimony h1{
        color: white;
        font-size: 30px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 35px;
    }
    .testimonyInset{
        width: 100%;
        height: auto;
        display: flex;
        overflow-x: scroll;
    }
    .testimonyInset::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(63, 63, 63);
    border-radius: 20px;
  }
 .testimonyInset::-webkit-scrollbar-thumb {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    /* border: 4px solid rgba(0, 0, 0, 0); 
    background-clip: padding-box; */
  } 
    .testDiv{
        width: 90vw;
        height: 300px;
        padding: 20px 25px;
        border: 1px solid #ffe100;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 0;
        flex-shrink: 0;
        margin: 10px;
    }
    .testDiv img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
    }
    .testDiv p{
        color: white;
        font-family: 'Abel', sans-serif;
    }
    .user h4{
        color: #ffe100;
        font-family: 'Playfair Display', sans-serif;
        margin-bottom: 10px;
    }
    .user h5{
        color: #ffe100;
        font-family: 'Playfair Display', sans-serif;
    
    }
}