.contactMain{
    width: 100%;
    height: auto;
    background-color: black;
}
.contactInset{
    width: 70%;
    height: auto;
    margin: 50px auto;
}
.contactInset h1{
    color: white;
    font-size: 45px;
    margin: 20px 0;
    font-weight: 500;
}
.headerP{
    color: white;
    margin: 10px 0;
    font-size: 21px;
    line-height: 35px;
}
.contactInset h2{
    color: white;
    margin: 20px 0;
}

.contactWhatsapp {
    width: 350px;
    height: 70px;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: rgb(2, 255, 2);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.contactWhatsapp a{
       color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}
.contactWhatsapp a:hover{
    color: rgb(220, 220, 220);
}
.contactInformation{
    width: 80%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(172, 172, 172, 0.432);
}
.contactInformation p{
    color: white;
    font-size: 23px;
}
.contactName{
    width: 48%;
    display: flex;  
    align-items: center; 
}
.contactIcon{
    display: block;
}
.contactName p{
    margin-left: 30px;
}
.contactDetails{
    width: 48%;
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width: 800px) {
    .contactMain{
    width: 100%;
    height: auto;
    background-color: black;
}
.contactInset{
    width: 90%;
    height: auto;
    margin: 30px auto;
}
.contactInset h1{
    color: white;
    font-size: 45px;
    margin: 20px 0;
    font-weight: 500;
}
.headerP{
    color: white;
    margin: 10px 0;
    font-size: 21px;
    line-height: 35px;
}
.contactInset h2{
    color: white;
    margin: 20px 0;
}

.contactWhatsapp {
    width: 350px;
    height: 70px;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: rgb(2, 255, 2);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.contactWhatsapp a{
       color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}
.contactWhatsapp a:hover{
    color: rgb(220, 220, 220);
}
.contactInformation{
    width: 90%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(172, 172, 172, 0.432);
}
.contactInformation p{
    color: white;
    font-size: 23px;
}
.contactName{
    width: 48%;
    display: flex;  
    align-items: center; 
}
.contactName p{
    margin-left: 30px;
}
.contactDetails{
    width: 48%;
    font-size: 24px;
    font-weight: 500;
}
}

@media screen and (max-width: 600px) {
    .contactMain{
    width: 100%;
    height: auto;
    background-color: black;
}
.contactInset{
    width: 97%;
    height: auto;
    margin: 30px auto;
}
.contactInset h1{
    color: white;
    font-size: 30px;
    margin: 20px 0;
    font-weight: 500;
}
.headerP{
    color: white;
    margin: 10px 0;
    font-size: 19px;
    line-height: 30px;
}
.contactInset h2{
    color: white;
    margin: 20px 0;
}

.contactWhatsapp {
    width: 350px;
    height: 70px;
    margin: 20px 0;
    padding: 20px 20px;
    background-color: rgb(2, 255, 2);
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.contactWhatsapp a{
       color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
}
.contactWhatsapp a:hover{
    color: rgb(220, 220, 220);
}
.contactInformation{
    width: 100%;
    height: 70px;
    padding: 0 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(172, 172, 172, 0.432);
    margin: 0 auto;
}
.contactInformation p{
    color: white;
    font-size: 17px;
}
.contactName{
    width: auto;
    display: flex;  
    align-items: center; 
}
.contactIcon{
    display: none;
}
.contactName p{
    margin-left: 10px;
}
.contactDetails{
    width: auto;
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;
}
}