.whatsappCta{
    width: 50%;
    height: 55px;
    background-color: rgb(68, 255, 0);
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 0 20px;
}

@media screen and (max-width: 600px) {
    .whatsappCta{
    width: 90%;
    height: 55px;
    background-color: rgb(68, 255, 0);
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 0 20px;
}
}