#info{
    width: 100%;
    height: auto;
    background-color: black;
}
.starIcon{
    width: 27px;
    height: 27px;
}
.infoInset{
    width: 100%;
    height: auto;
}
.imgInfo{
    width: 85%;
    height: auto;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.infoInfo{
    width: 47%;
    height: 100%;
}
.infoLinks{
    color: rgb(171, 171, 171);
    font-family: Calibri;
    font-size: 20px;
    margin-bottom: 20px;
}
.infoTitle{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #ffe100;
}
.infoReviews{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #ffe100;
    margin-bottom: 20px;
    font-size: 20px;
}
.infoReviews p{
    margin-left: 10px;
}
.infoCost{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
    
}

.infoDelivery{
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Abel', sans-serif;
    margin-top: 40px;
}
.infoDelivery h4{
    font-size: 23px;
    font-family: 'Playfair Display', sans-serif;
    text-decoration: underline;
    margin-bottom: 15px;
}
.infoDelivery p{
    font-size: 20px;
}
.infoTags{
    width: 100%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin-top: 30px;
    font-size: 18px;
}
.infoTags span{
    font-weight: 600;
    font-size: 20px;
    margin-right: 8px;
}

.quote{
    width: 100%;
    height: auto;
    background-color: #ffe100;
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-size: 45px;
    text-align: center;
    display: grid;
    place-items: center;
}


@media screen and (max-width: 800px) {
    #info{
        width: 100%;
        height: auto;
        background-color: black;
    }
    .infoInset{
        width: 100%;
        height: auto;
    }
    .imgInfo{
        width: 100%;
        height: auto;
        margin: 50px auto 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .infoInfo{
        width: 90%;
        height: 100%;
    }
    .infoLinks{
        color: rgb(171, 171, 171);
        font-family: Calibri;
        font-size: 20px;
        margin-bottom: 00px;
    }
    .infoTitle{
        font-family: 'Playfair Display', sans-serif;
        font-weight: 600;
        font-size: 42px;
        color: #ffe100;
    }
    .infoReviews{
        width: 50%;
        height: 50px;
        display: flex;
        align-items: center;
        color: #ffe100;
        margin-bottom: 0px;
        font-size: 20px;
    }
    .infoReviews p{
        margin-left: 10px;
    }
    .infoCost{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        color: white;
        font-weight: 600;
        margin-bottom: 30px;
        
    }
    
    .infoDelivery{
        width: 100%;
        height: auto;
        color: white;
        font-family: 'Abel', sans-serif;
        margin-top: 40px;
    }
    .infoDelivery h4{
        font-size: 23px;
        font-family: 'Playfair Display', sans-serif;
        text-decoration: underline;
        margin-bottom: 15px;
    }
    .infoDelivery p{
        font-size: 20px;
    }
    .infoTags{
        width: 100%;
        height: auto;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        margin-top: 30px;
        font-size: 18px;
    }
    .infoTags span{
        font-weight: 600;
        font-size: 20px;
        margin-right: 8px;
    }
   
    .quote{
    width: 100%;
    height: auto;
    background-color: #ffe100;
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    display: grid;
    place-items: center;
}
   
}

@media screen and (max-width: 600px) {
    #info{
        width: 100%;
        height: auto;
        background-color: black;
    }
    .infoInset{
        width: 100%;
        height: auto;
    }
    .imgInfo{
        width: 100%;
        height: auto;
        margin: 50px auto 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .infoInfo{
        width: 90%;
        height: 100%;
    }
    .infoLinks{
        color: rgb(171, 171, 171);
        font-family: Calibri;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .infoTitle{
        font-family: 'Playfair Display', sans-serif;
        font-weight: 500;
        font-size: 23px;
        color: #ffe100;
        margin-bottom: 10px;
    }
    .infoReviews{
        width: 90%;
        height: 50px;
        display: flex;
        align-items: center;
        color: #ffe100;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .infoReviews p{
        margin-left: 10px;
    }
    .infoCost{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        color: white;
        font-weight: 600;
        margin-bottom: 20px;
        
    }
   
    .infoDelivery{
        width: 100%;
        height: auto;
        color: white;
        font-family: 'Abel', sans-serif;
        margin-top: 40px;
    }
    .infoDelivery h4{
        font-size: 23px;
        font-family: 'Playfair Display', sans-serif;
        text-decoration: underline;
        margin-bottom: 15px;
    }
    .infoDelivery p{
        font-size: 18px;
    }
    .infoTags{
        width: 100%;
        height: auto;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        margin-top: 30px;
        font-size: 18px;
    }
    .infoTags span{
        font-weight: 600;
        font-size: 20px;
        margin-right: 8px;
    }
   
    .quote{
    width: 100%;
    height: auto;
    background-color: #ffe100;
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-size: 21px;
    text-align: center;
    display: grid;
    place-items: center;
}
   
}