
#choice{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}
.choice1{
    display: block;
}
.choice2{
    display: none;
}
.choiceInset{
    width: 80%;
    height: auto;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Playfair Display', sans-serif;

}
.choiceInset h1{
    font-size: 70px;
    margin-bottom: 40px;
}
.choiceInset p{
    font-size: 20px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
}
.choiceInset p span{
    font-weight: bold;
    font-size: 21px;
}
.choiceBtn{
    width: 40%;
    height: 60px;
    background-color: #ffe100;
    color: black;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 60px;
}
.choiceBtn p{
    font-size: 23px;
}
#proof{
    width: 100%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
.proofInset{
    width: 25%;
    height: 90%;
    background-color: #000000;
}
.proofTitle{
    width: 100%;
    height: 22%;
    font-family: 'Playfair Display', sans-serif;
    color: #ffe100;
    font-size: 34px;
    text-align: center;
    font-weight: 500;
    padding: 0 10px;
    display: grid;
    place-items: center;
}
.proofImg{
    width: 100%;
    height: 55%;
}
.proofImgImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.proofDesc{
    width: 100%;
    height: 22%;
    font-family: 'Playfair Display', sans-serif;
    color: #ffffff;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 0 20px;
    font-size: 21px;
}

@media screen and (max-width: 800px) {
    
    #choice{
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        padding: 40px;
    }
    .choiceInset{
        width: 100%;
        height: auto;
        margin: 0 auto;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
    
    }
    .choiceInset h1{
        font-size: 50px;
        margin-bottom: 40px;
    }
    .choiceInset p{
        font-size: 18px;
        line-height: 30px;
    }
    .choiceInset p span{
       font-weight: bold;
       font-size: 20px;
    }
   
    #proof{
        width: 100%;
        height: 70vh;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    .proofInset{
        width: 32%;
        height: 90%;
        border: 1px solid #ffe100;
    }
    .proofTitle{
        width: 100%;
        height: 22%;
        font-family: 'Playfair Display', sans-serif;
        color: #ffe100;
        font-size: 23px;
        text-align: center;
        font-weight: 500;
        padding: 0 10px;
        display: grid;
        place-items: center;
    }
    .proofImg{
        width: 100%;
        height: 55%;
    }
    .proofImgImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .proofDesc{
        width: 100%;
        height: 22%;
        font-family: 'Playfair Display', sans-serif;
        color: rgb(0, 0, 0);
        text-align: center;
        display: grid;
        place-items: center;
        padding: 0 20px;
        font-size: 15px;
    }
}


@media screen and (max-width: 600px) {
   
    #choice{
        width: 100%;
        height: auto;
        background-color: rgb(255, 255, 255);
        padding:40px 10px;
    }
    .choice1{
        display: none;
    }
    .choice2{
        display: block;
    }
    .choiceInset{
        width: 100%;
        height: auto;
        margin: 0 auto;
        color: rgb(0, 0, 0);
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
    
    }
    .choiceInset h1{
        font-size: 35px;
        margin-bottom: 40px;
    }
    .choiceInset p{
        font-size: 15px;
        line-height: 30px;
    }
    .choiceInset p span{
        font-weight: bold;
        font-size: 18px;
    }
    #proof{
      display: none;
    }
   
}