.returns{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 30px 0;
    cursor: pointer;
}
.returnsInset{
    width: 80%;
    height: auto;
    margin: 30px auto;
    color: rgb(0, 0, 0);
}
.returnsInset h1{
    font-size: 45px;
    margin: 30px 0;
    text-align: center;
    text-decoration: underline;
}
.returnsInset h2{
    font-size: 35px;
}
.returnsInset h3{
    font-size: 25px;
}
.returnsInset p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-top: 15px;
}
.returnsInset p span{
    font-size: 20px;
    font-weight: 600;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: rgb(82, 82, 82);
    margin: 30px 0;
}
.returnsInset ul{
    margin: 20px 50px;
    font-family: Calibri;
    font-size: 20px;
}
.returnsInset ul li{
    margin: 5px;
}
.returnsInset ul li span{
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .returns{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 30px 0;
}
.returnsInset{
    width: 90%;
    height: auto;
    margin: 30px auto;
    color: rgb(0, 0, 0);
}
.returnsInset h1{
    font-size: 40px;
    margin-top: 30px;
}
.returnsInset h2{
    font-size: 28px;
}
.returnsInset p{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 30px;
    margin-top: 15px;
}
.returnsInset p span{
    font-size: 18px;
    font-weight: 600;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: rgb(82, 82, 82);
    margin: 25px 0;
}
.returnsInset ul{
    margin: 20px 50px;
    font-family: Calibri;
    font-size: 17px;
}
.returnsInset ul li{
    margin: 5px;
}
.returnsInset ul li span{
    font-weight: 600;
}
}

@media screen and (max-width: 600px) {
    .returns{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}
.returnsInset{
    width: 95%;
    height: auto;
    margin: 30px auto;
    color: rgb(0, 0, 0);
}
.returnsInset h1{
    font-size: 30px;
    margin-top: 30px;
}
.returnsInset h2{
    font-size: 23px;
}
.returnsInset h3{
    font-size: 19px;
}
.returnsInset p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 28px;
    margin-top: 10px;
}
.returnsInset p span{
    font-size: 16px;
    font-weight: 600;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: rgb(82, 82, 82);
    margin: 25px 0;
}
.returnsInset ul{
    margin: 20px 30px;
    font-family: Calibri;
    font-size: 15px;
}
.returnsInset ul li{
    margin: 5px;
}
.returnsInset ul li span{
    font-weight: 600;
}
}
