#quiz{
    width: 100%;
    height: auto;
    background-color: black;
    cursor: pointer;
}
.quizImg{
    width: 100%;
    height: 300px;
}
.quizImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quizInset{
    width: 90%;
    height: auto;
    border: 1px solid #ffe100;
    border-radius: 20px;
    margin: 0 auto;
    transform: translateY(-120px);
    padding: 30px 20px;

}
.quizInset h1{
    color: white;
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 53px;
    margin-bottom: 40px;
}
.quizDiv{
    width: 85%;
    height: 70px;
    border: 1px solid #ffe100;
    border-radius: 15px;
    margin: 10px auto;
    overflow: hidden;
}  
.quizActive{
    height: auto;
}
.add{
    width: 40px;
    height: 40px;
} 
 
.quizTransform{
    transform: rotate(45deg);
} 
.quizTop{
    width: 100%;
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}
.quizDiv h4{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 23px;
}
.quizBottom{
    width: 100%;
    height: auto;
    color: white;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 26px;
}
.quote{
    width: 100%;
    height: auto;
    background-color: #ffe100;
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-size: 45px;
    text-align: center;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 800px) {
    .quizImg{
        width: 100%;
        height: 250px;
    }
    .quizInset{
        width: 95%;
        height: auto;
        border: 1px solid #ffe100;
        border-radius: 20px;
        margin: 0 auto;
        transform: translateY(-100px);
        padding: 30px 20px;
    }
    .quizInset h1{
        color: white;
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
        font-size: 38px;
        margin-bottom: 40px;
    }
    .quizDiv{
        width: 95%;
        height: 75px;
        border: 1px solid #ffe100;
        border-radius: 15px;
        margin: 10px auto;
        overflow: hidden;
    }  
    .quizActive{
        height: auto;
    }  
    .quizTop{
        width: 100%;
        height: 75px;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        align-items: center;
    }
    .quizDiv h4{
        font-family: 'Playfair Display', sans-serif;
        font-weight: 400;
        font-size: 23px;
        margin-right: 30px;
    }
    .quizBottom{
        width: 100%;
        height: auto;
        color: white;
        padding: 15px 15px;
        font-size: 20px;
        line-height: 26px;
    }
    .quote{
        width: 100%;
        height: auto;
        background-color: #ffe100;
        font-family: 'Playfair Display', sans-serif;
        font-style: italic;
        font-size: 29px;
        text-align: center;
        display: grid;
        place-items: center;
    } 
}

@media screen and (max-width: 600px) {
    .quizImg{
        width: 100%;
        height: 250px;
    }
    .quizInset{
        width: 97%;
        height: auto;
        border: 1px solid #ffe100;
        border-radius: 20px;
        margin: 0 auto;
        transform: translateY(-120px);
        padding: 30px 10px;
    }
    .quizInset h1{
        color: white;
        text-align: center;
        font-family: 'Playfair Display', sans-serif;
        font-size: 30px;
        margin-bottom: 40px;
    }
    .quizDiv{
        width: 97%;
        height: 90px;
        border: 1px solid #ffe100;
        border-radius: 15px;
        margin: 10px auto;
        overflow: hidden;
    }  
    .quizActive{
        height: auto;
    }  
    .quizTop{
        width: 100%;
        height: 90px;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        align-items: center;
    }
    .quizDiv h4{
        font-family: 'Playfair Display', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-right: 30px;
    }
    .quizBottom{
        width: 100%;
        height: auto;
        color: white;
        padding: 15px 15px;
        font-size: 15px;
        line-height: 26px;
    }
    .quote{
        width: 100%;
        height: auto;
        background-color: #ffe100;
        font-family: 'Playfair Display', sans-serif;
        font-style: italic;
        font-size: 21px;
        text-align: center;
        display: grid;
        place-items: center;
    } 
}