.servicesMain{
    width: 100%;
    height: auto;
    padding: 40px;
    cursor: pointer;
}
.servicesMain h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    text-decoration: underline;
    margin-bottom: 50px;
}
.servicesInset{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature{
    width: 32%;
    min-height: 650px;
    height: auto;
    margin-bottom: 30px;
}
.featureImage{
    width: 100%;
    height: 40%;
}
.featureImg{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.featureInfo{
    width: 100%;
    text-align: center;
    padding: 30px 20px 10px;
}
.featureInfo h4{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    margin-bottom: 20px;
    text-decoration: underline #ffe100 2px;
}
.featureList{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
    height: 120px;
}
.shopbtn{
    width: 100%;
    height: 60px;
    background-color: #ffe100;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}
.whatsappbtn{
    width: 100%;
    height: 60px;
    background-color: #00ff1a;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}