.servicesMain{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 30px 0;
    cursor: pointer;
}
.servicesInset{
    width: 98%;
    height: auto;
    border-radius: 50px;
    border: 1px solid #ffe100;
    margin: 0px auto;
    padding: 20px 0 40px;
}
.servicesInset h2{
    color: white;
    font-size: 45px;
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
}
.offers{
    width: 95%;
    height: 550px;
    background-color: white;
    margin: 0 auto 0;
    display: flex;
    padding: 0px 0;
}
.offersImage{
    width: 50%;
    height: 100%;
}
.offersImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.offersInfo{
    width: 50%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.offersInfo h3{
    font-family: 'Playfair Display', sans-serif;
    font-size: 45px;
    text-decoration: underline #ffe100;

}
.offersInfo p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;
}
.offersInfo p span{
    font-weight: bold;
}
.offerButtons{
    width: 100%;
    height: auto;
    display: flex;
   
}
.offerButtons p {
     font-size: 16px;
}
.offerBtn1{
    width: 30%;
    height: 50px;
    background-color: #ffe100;
    color: black;
    border-radius: 10px;
    display: grid;
    place-items: center;
    text-decoration: underline;
}
.offerBtn2{
    width: 35%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgb(0, 253, 0);
     font-size: 13px;

}