.navbar{
    width: 100%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
}
.landing{
    width: 100%;
    height: 80vh;
    display: flex;
    
    padding: 35px 0;
}
.landingHero{
    width: 55%;
    height: 100%;
    display: grid;
    place-items: center;
    padding-left: 30px;
}
.heroInset{
    width: 90%;
    height: 90%;
}
.heroInset h1{
    font-family: 'Roboto', sans-serif;
    font-size: 87px;
    font-weight: 800;
}
.heroInset p{
   font-family: 'Roboto', sans-serif;
    font-size: 21px;
    margin-top: 30px;
    line-height: 38px;
}
.herocta{
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 40px;
}
.quote{
    width: 40%;
    height: 60px;
    background-color: #ffe100;
    color: black;
    display: grid;
    place-items: center;
    border-radius: 10px;
}
.chat{
    width: 40%;
    height: 60px;
    background-color: black;
    color: #ffe100;
     display: grid;
    place-items: center;
    margin-left: 30px;
    border-radius: 10px;
}
.landingImage{
    width: 43%;
    height: 100%;
    float: right;
}
.landingImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
