#landing{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient( to right, rgba(0, 0 ,0 , 0.5), rgba(0, 0 ,0 , 0.5)), url('/landing.png');
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}
.landingContent{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
}
.landingContent h2{
    font-family: var(--font-inter), sans-serif;
    color: white;
    font-size: 75px;
    font-weight: 500;
    text-align: center;
}
.landingContent h2 span{
    color: #ffe100;
    font-style: italic;

}
.landingBtn{
    width: 40%;
    height: 70px;
    background-color: #ffe100;
    border-radius: 20px;
    display: grid;
    place-items: center;
    font-family: var(--font-inter), sans-serif;
    font-size: 28px;
    font-weight: 500;
    margin: 50px auto 0;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .landingContent{
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        height: auto;
    }
    .landingContent h2{
    font-family: var(--font-inter), sans-serif;
        color: white;
        font-size: 60px;
        font-weight: 500;
        text-align: center;
    }
    .landingBtn{
        width: 40%;
        height: 70px;
        background-color: #ffe100;
        border-radius: 20px;
        display: grid;
        place-items: center;
    font-family: var(--font-inter), sans-serif;
        font-size: 26px;
        font-weight: 500;
        margin: 50px auto 0;
    }
}

@media screen and (max-width: 600px) {
    #landing{
        position: relative;
        width: 100%;
        height: 90vh;
        background: linear-gradient( to right, rgba(0, 0 ,0 , 0.5), rgba(0, 0 ,0 , 0.5)), url('/landing.png');
        background-size: cover;
        background-position: center;
        padding-top: 15px;
    }
    .landingContent{
        top: 55%;
        left: 5%;
        transform: translate(0%, -50%);
        width: 80%;
        height: auto;
    }
    .landingContent h2{
    font-family: var(--font-inter), sans-serif;
        color: white;
        font-size: 42px;
        font-weight: 500;
        text-align: right;
    }
    .landingBtn{
        width: 80%;
        height: 60px;
        background-color: #ffe100;
        border-radius: 10px;
        display: grid;
        place-items: center;
    font-family: var(--font-inter), sans-serif;
        font-size: 20px;
        font-weight: 500;
        margin: 50px 0 0;
        float: right;
    }
}